/*Media*/
@media (max-width: 1755px) {
/*       section block       */
	.content_container{
		max-height: 600px;
	}
}



@media (max-width: 1300px) {

	/*    footer section    */
	.footer_title p{
		font-size: 20px;
	}

	/*intro bloack*/
	.intro_right{	
		max-width: 540px; 
		max-height: 503px;
	}
	.intro_title p{
		font-size: 32px;
	}
	.intro_subtitle p{
		font-size: 24px;
		max-width: 340px;
	}
	.intro_link a p{
		font-size: 18px;
	}
	.intro_link a img{
		max-width: 45px;
		max-height: 45px;
	}


	

		/*       section block       */
		.content_container{
			max-height: 500px;
			max-width: 100%;
		}

		.container_own{
			max-width: 100%;
		}

		.nav_info li{
		margin-right: 40px;
		}

		h3{
			font-size: 18px;
		}

	/*   port container   */
	.left_port_container{
		width: 550px;
		height: 688px;
		margin-right: 10px;}

	.first_port_container{
		max-width: 250px;
		max-height: 350px;
	}
	.second_port_container{
		max-width: 250px;
		max-height: 350px;
	}
	.port_text_block{
		max-width: 635px;
		max-height: 300px;
		margin-right: 40px;
		top: 50;
	}

	.port_text{
		font-size: 18px;
		padding: 20px 0;
	}

}





@media (max-width: 1080px) {
	/*intro block*/
	.intro_right{	
		max-width: 400px;
		max-height: 363px;
	}


	/*       section block       */
	.content_container{
		max-height: 300px;
		max-width: 100%;
		/*flex-direction: column;*/
	}
	.nav_info li{
	margin-right: 14px;
	}
	.nav_logo img {
	max-height: 350px;
	max-width: 300px;
	}

	.story_image{
		width: 400px;
		height: 400px;
	}

	/*   port container   */

	.left_port_container{
}
		
	.first_port_container {
		height: 50%;
	}
	.second_port_container {
		height: 50%;
	}
	.port_text_block{
		position: static;
		height: 100%;
		max-width: 75%;
	}

	.port_text{
		font-size: 12px;
		padding: 20px 0;
		letter-spacing: 0;
	}

	.right_port{
		max-height: 700px;
	}
	.first_right_port{
		flex-direction: column;
		height: 70%;
	}
	.first_left_port{
		flex-direction: column;
		height: 26%;
	}


}










@media (max-width: 800px) {
	/*Intro block*/
	.intro_title p{
		font-size: 24px;
	}
	.intro_subtitle p{
		font-size: 18px;
		max-width: 340px;
	}
	.intro_link a p{
		font-size: 12px;
	}
	.intro_link a img{
		max-width: 30px;
		max-height: 30px;
	}
	.intro_right{	
		max-width: 300px;
		max-height: 263px;
	}
	.intro_title{
	max-width: 240px;
	}




	.nav_nav{
		flex-direction: column;
	}
	.nav_info{
		margin-top: 30px;
	}
	.nav_info li{
		font-size: 30px;
	}
	.story_container{
		flex-direction: column;
	}
	.story_image{
		margin: 0 auto;
	}

	.story_item{
		width: 100%;
		margin-bottom: 20px;
	}

	h2{
		text-align: center;
	}

	h3{
		text-align: center;
		font-size: 32px;
	}
	.story{
		margin-top: 0px;
		max-height: 100%;
		margin-bottom: 0;
	}
	.nav_nav{
		margin-bottom: 0px;
	}
		/*   port container   */

	.container_own{
		margin-top: 20px;
	}

	.port_container{
		flex-direction: column;
	}

	.port_block{
		margin-top: 0px;
		margin-bottom: 50px;
	}

	.left_port_container{
		width: 100%
}

	.port_text_block{
		margin: 0 auto;
	}

	.port_text{
		font-size: 20px

	}

	.right_port{
		max-width: 100%;
		margin-top: 10px;
	}
	.first_right_port{
		width: 0px; 
		height: 0px;
		overflow: hidden;
	}
}


@media (max-width: 650px) {
	/*intro block*/
	.intro{
		margin-top: 160px
	}


	/*       section block       */
	.section{
		margin-top: 100px;
		max-height: 6400px;
	}

	.nav_info li a{
		font-weight: bold;
		color: #000
	}

	header{
		margin: 0;
		padding: 0;
	}

	section{
		margin: 0;
		padding: 0;
	}

	.content_container{
		max-height: 100%;
		max-width: 100%;
		flex-direction: column;
	}

	.break_point{
		max-width: 100%;
		margin-bottom: 10px;
	}

	.nav_info{
		flex-direction: column;
	}
	.nav_info li{
		font-size: 40px;
	}

	.twitter-logo{
	max-width: 44px;
	max-height: 44px;
	margin-right: 8px;
	}

	.insta-logo{
		max-width: 48px;
		max-height: 48px;
		margin-right: 8px;
	}

	.facebook-logo{
		max-width: 38px;
		max-height: 38px;
	}

	.example_card{
		margin: 10px 5px 5px 5px;
	}
	h3{
		margin: 0 auto;
		font-size: 24px;
	}

	.story_item{
		width: 100%;
		margin-bottom: 20px;
	}
	.story_image{
		width: 200px;
		height: 200px;
	}
	.story{
		max-height: 440px;
	}

	.nav_nav{
		max-height: 300px;
	}
}

@media (max-width: 550px){
	/*intro block*/
	.intro_container{
		flex-direction: column;
		align-items: center;
	}
	.intro_title p{
		text-align: center;
		font-size: 24px;
	}
	.intro_subtitle p{
		font-size: 18px;
		max-width: 100%;
	}
	.intro_link a p{
		font-size: 12px;
	}
	.intro_link a img{
		max-width: 30px;
		max-height: 30px;
	}
	.intro_right{	
		margin-top: 30px;
		max-width: 100%;
		/*max-height: 263px;*/
	}
	.intro_title{
	max-width: 240px;
	}
	.intro_link{
		text-align: center;
	}


}






