{% load static %}
<div class="footer_own">
	<div class="container_own">
		<div class="footer_container">
			<div class="footer_left">
				<div class="footer_title">
					<p>LOBODINA<br>SOFIA</p>
				</div>
				<div class="footer_nav">
					<a href="">Home</a>
					<a href="">About</a>
					<a href="">Contacts</a>
					<a href="">Work</a>
				</div>
			</div>
			<div class="footer_right">
				<div class="footer_write">
					<p>Write me</p>
				</div>
				<div class="footer_socials">
					<div class="footer_soc">
						<a href="https://www.facebook.com/profile.php?id=100017148859461">
							<img src="{% static 'images/footer_facebook.png' %}" alt="">
							<p>София Лободина</p>
						</a>
					</div>
					<div class="footer_soc">
						<a href="https://www.instagram.com/sof.fey/">
							<img src="{% static 'images/5296765_camera_instagram_instagram logo_icon (1).png' %}" alt="">
							<p>@sof.fey</p>
						</a>
					</div>
					<div class="footer_soc">
						<a href="https://twitter.com/Soffeyh">
							<img src="{% static 'images/5296516_tweet_twitter_twitter logo_icon.png' %}" alt="">
							<p>@Soffeyh</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>