{% load static %}
<header class="header">
	<div class="container_own">
		<nav class="nav_nav">
			<div class="nav_logo">
				<h1>LOBODINA <br>SOFIA</h1>
			</div>
			<div class="nav_info">
				<ul class="nav_info topBotomBordersOut">
					<li class="nav-item ">
						<a href="" class=" last_unit">Work</a>
					</li>
					<li class="nav-item">
						<a href="" class=" last_unit">About</a>
					</li>
					<li class="nav-item">
						<a href="" class=" last_unit">Contacts</a>
					</li>
				</ul>
				<div class="logo_div">
					<a href="https://twitter.com/Soffeyh" class="twitter-logo">
						<img src="{% static 'images/twitter.png' %}" alt="">
					</a>
					<a href="https://www.instagram.com/sof.fey/" class="insta-logo">
						<img src="{% static 'images/insta.png' %}" alt="">
					</a>
					<a href="https://www.facebook.com/profile.php?id=100017148859461" class="facebook-logo">
						<img src="{% static 'images/facebook.png' %}" alt="">
					</a>
				</div>
			</div>
		</nav>
	</div>
</header>